.base {
  background-image:
    radial-gradient(
      circle at 65% 25%,
      rgba(255, 255, 255, 0.5) 5%,
      rgba(255, 255, 255, 0.0) 30%
    ),
    radial-gradient(
      circle at 52% 45%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1) 80%
    ),
    radial-gradient(
      circle at 65% 25%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.25) 70%
    );
  transition: top 500ms ease-out, left 500ms ease-out;
}

.red {
  composes: base;
  background-color: #c62828;
}

.blue {
  composes: base;
  background-color: #1565c0;
}

.yellow {
  composes: base;
  background-color: #ffab00;
}

.green {
  composes: base;
  background-color: #388e3c;
}
