.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.info {
  padding: 16px 8px 4px;
  margin-bottom: 8px;
  text-align: center;
  border-bottom: solid 1px #555;
  flex-grow: 0;
  color: #ffcc80;
  font-family: Rye, cursive;
  font-size: 16px;
  border-bottom: solid 1px #ffcc80;
}
.gameover {
  color: #ffcc80;
  font-family: Rye, cursive;
  font-size: 36px;
}
.main {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}

.roll > svg, .pass > svg, .dice > svg {
  height: 100%;
  width: 100%;
}
.roll, .pass {
  height: 40px;
  width: 80px;
  margin: 10px 20px;
}
.dice {
  height: 40px;
  width: 40px;
  margin: 10px 5px;
}
.dice1 {
  composes: dice;
}
.dice2 {
  composes: dice;
}
.dice3 {
  composes: dice;
}
.dice4 {
  composes: dice;
}
.dice5 {
  composes: dice;
}
.dice6 {
  composes: dice;
}

@media (max-width: 420px) {
  .root { width: 300px; }
  .main { flex-flow: row wrap; }
  .dice4, .dice5, .dice6 { order: 2; }
  .pass { order: 1; }
}

