.positioned {
  position: absolute;
  box-sizing: border-box;
  transform:
    rotate(calc(var(--rotate) * 1deg))
    translateY(calc(var(--translate, 0) * 1px));
  display: flex;
  align-items: center;
  justify-content: center;
}
