.button {
  --primary: #cfd8dc;
  --secondary: #263238;
  background-color: var(--primary);
  background-image: radial-gradient(
    ellipse farthest-corner,
    transparent 50%,
    rgba(0, 0, 0, 0.25)
  );
  border: solid 1px var(--primary);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--secondary);
  font-family: "Rye", cursive;
  font-size: 24px;
  height: 40px;
  line-height: 37px;
  text-align: center;
  min-width: 40px;
  transition: transform 200ms ease-in-out;
}
.button > svg {
  height: 100%;
  width: 100%;
  fill: var(--secondary, #fff);
}
.button:not(.disabled):hover {
  transform: scale(1.5);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

.default {
  composes: button;
}
.red {
  composes: button;
  --primary: #c62828;
  --secondary: #fff;
}
.blue {
  composes: button;
  --primary: #1565c0;
  --secondary: #fff;
}
.yellow {
  composes: button;
  --primary: #ffab00;
  --secondary: #fff;
}
.green {
  composes: button;
  --primary: #388e3c;
  --secondary: #fff;
}
