.board {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  /* background: #efebe9; */
  /* border-radius: 40px; */
  border-radius: calc((var(--vw) - var(--board-unit)) * 10);
  /* border: solid 5px #a1887f; */

  --red: #c62828;
  --blue: #1565c0;
  --yellow: #ffab00;
  --green: #388e3c;

  background-color: #f0c7af;
  background-image:
    radial-gradient(circle farthest-corner at center, transparent 50%, rgba(0,0,0,0.25)),
    url("./img/purty-wood.png");
  background-size: contain;
  box-shadow: 0 5px 5px black;
}

/**
 * Player Name labels.
 */
.name {
  font-family: Rye, cursive;
  font-size: calc(var(--board-unit) * 5);
  height: calc(var(--board-unit) * 5);
  width: calc(var(--board-unit) * 50);
  position: absolute;
  text-align: center;
  z-index: 1;
}
.name0{
  composes: name;
  transform: rotate(45deg);
  bottom: 77.5%;
  left: 55%;
}
.name1 {
  composes: name;
  transform: rotate(-45deg);
  top: 77.5%;
  left: 55%;
}
.name2 {
  composes: name;
  transform: rotate(45deg);
  top: 77.5%;
  right: 55%;
}
.name3 {
  composes: name;
  transform: rotate(-45deg);
  bottom: 77.5%;
  right: 55%;
}

.cell {
  height: 5%;
  width: 5%;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(circle at 30% 70%, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.5) 80%);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.cell.highlight {
	box-shadow: 0 0 20px 5px #ff6d00;
}

.nowPlaying {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.25;
  z-index: 0;
}
.nowPlaying0 {
  composes: nowPlaying;
  bottom: 64%;
  left: 64%;
  border-bottom-left-radius: 50%;
  background: var(--red);
}
.nowPlaying1 {
  composes: nowPlaying;
  left: 64%;
  top: 64%;
  border-top-left-radius: 50%;
  background: var(--blue);
}
.nowPlaying2 {
  composes: nowPlaying;
  right: 64%;
  top: 64%;
  border-top-right-radius: 50%;
  background: var(--yellow);
}
.nowPlaying3 {
  composes: nowPlaying;
  right: 64%;
  bottom: 64%;
  border-bottom-right-radius: 50%;
  background: var(--green);
}

.pos-C00 {top: 2.5%; left: 55%; }
.pos-C01 {top: 10.0%; left: 55%; }
.pos-C02 {top: 17.5%; left: 55%; }
.pos-C03 {top: 25.0%; left: 55.0%; }
.pos-C04 {top: 32.5%; left: 55.0%; }
.pos-C05 {top: 40.0%; left: 55.0%; }
.pos-C06 {top: 40.0%; left: 62.5%; }
.pos-C07 {top: 40.0%; left: 70.0%; }
.pos-C08 {top: 40.0%; left: 77.5%; }
.pos-C09 {top: 40.0%; left: 85.0%; }
.pos-C0A {top: 40.0%; left: 92.5%; }
.pos-C0B {top: 47.5%; left: 92.5%; }

.pos-C10 {top: 55.0%; left: 92.5%; }
.pos-C11 {top: 55.0%; left: 85.0%; }
.pos-C12 {top: 55.0%; left: 77.5%; }
.pos-C13 {top: 55.0%; left: 70.0%; }
.pos-C14 {top: 55.0%; left: 62.5%; }
.pos-C15 {top: 55.0%; left: 55.0%; }
.pos-C16 {top: 62.5%; left: 55.0%; }
.pos-C17 {top: 70.0%; left: 55.0%; }
.pos-C18 {top: 77.5%; left: 55.0%; }
.pos-C19 {top: 85.0%; left: 55.0%; }
.pos-C1A {top: 92.5%; left: 55.0%; }
.pos-C1B {top: 92.5%; left: 47.5%; }

.pos-C20 {top: 92.5%; left: 40.0%; }
.pos-C21 {top: 85.0%; left: 40.0%; }
.pos-C22 {top: 77.5%; left: 40.0%; }
.pos-C23 {top: 70.0%; left: 40.0%; }
.pos-C24 {top: 62.5%; left: 40.0%; }
.pos-C25 {top: 55.0%; left: 40.0%; }
.pos-C26 {top: 55.0%; left: 32.5%; }
.pos-C27 {top: 55.0%; left: 25.0%; }
.pos-C28 {top: 55.0%; left: 17.5%; }
.pos-C29 {top: 55.0%; left: 10.0%; }
.pos-C2A {top: 55.0%; left: 2.5%; }
.pos-C2B {top: 47.5%; left: 2.5%; }

.pos-C30 {top: 40.0%; left: 2.5%; }
.pos-C31 {top: 40.0%; left: 10.0%; }
.pos-C32 {top: 40.0%; left: 17.5%; }
.pos-C33 {top: 40.0%; left: 25.0%; }
.pos-C34 {top: 40.0%; left: 32.5%; }
.pos-C35 {top: 40.0%; left: 40.0%; }
.pos-C36 {top: 32.5%; left: 40.0%; }
.pos-C37 {top: 25.0%; left: 40.0%; }
.pos-C38 {top: 17.5%; left: 40.0%; }
.pos-C39 {top: 10.0%; left: 40.0%; }
.pos-C3A {top: 2.5%; left: 40.0%; }
.pos-C3B {top: 2.5%; left: 47.5%; }

.pos-H00 {top: 10.0%; left: 47.5%; }
.pos-H01 {top: 17.5%; left: 47.5%; }
.pos-H02 {top: 25.0%; left: 47.5%; }
.pos-H03 {top: 32.5%; left: 47.5%; }

.pos-H10 {top: 47.5%; left: 85.0%; }
.pos-H11 {top: 47.5%; left: 77.5%; }
.pos-H12 {top: 47.5%; left: 70.0%; }
.pos-H13 {top: 47.5%; left: 62.5%; }

.pos-H20 {top: 85.0%; left: 47.5%; }
.pos-H21 {top: 77.5%; left: 47.5%; }
.pos-H22 {top: 70.0%; left: 47.5%; }
.pos-H23 {top: 62.5%; left: 47.5%; }

.pos-H30 {top: 47.5%; left: 10.0%; }
.pos-H31 {top: 47.5%; left: 17.5%; }
.pos-H32 {top: 47.5%; left: 25.0%; }
.pos-H33 {top: 47.5%; left: 32.5%; }

.pos-S00 {top:  5.0%; left: 75.0%; }
.pos-S01 {top: 10.0%; left: 80.0%; }
.pos-S02 {top: 15.0%; left: 85.0%; }
.pos-S03 {top: 20.0%; left: 90.0%; }

.pos-S10 {top: 75.0%; left: 90.0%; }
.pos-S11 {top: 80.0%; left: 85.0%; }
.pos-S12 {top: 85.0%; left: 80.0%; }
.pos-S13 {top: 90.0%; left: 75.0%; }

.pos-S20 {top: 90.0%; left: 20.0%; }
.pos-S21 {top: 85.0%; left: 15.0%; }
.pos-S22 {top: 80.0%; left: 10.0%; }
.pos-S23 {top: 75.0%; left:  5.0%; }

.pos-S30 {top: 20.0%; left:  5.0%; }
.pos-S31 {top: 15.0%; left: 10.0%; }
.pos-S32 {top: 10.0%; left: 15.0%; }
.pos-S33 {top:  5.0%; left: 20.0%; }


.home {
  position: absolute;
  height: calc(var(--board-unit) * 16);
  width: calc(var(--board-unit) * 7);
  z-index: 0;
  opacity: 0.25;
}
.home:before, .home:after {
  position: absolute;
  content: "";
  height: calc(var(--board-unit) * 7);
  width: calc(var(--board-unit) * 7);
}
.home:before {
  bottom: 100%;
  border-radius: 50% 50% 0 0;
}
.home:after {
  top: 100%;
  border-radius: 0 0 50% 50%;
}

.home0 {
  composes: home;
  top: 15.5%;
  left: 46.5%;
}
.home0, .home0:before, .home0:after {
  background: var(--red);
}
.home1 {
  composes: home;
  transform: rotate(90deg);
  right: 20%;
  top: 42%;
}
.home1, .home1:before, .home1:after {
  background: var(--blue);
}
.home2 {
  composes: home;
  height: calc(var(--board-unit) * 16);
  bottom: 15.5%;
  left: 46.5%;
}
.home2, .home2:before, .home2:after {
  background: var(--yellow);
}
.home3 {
  composes: home;
  transform: rotate(90deg);
  left: 20.5%;
  top: 42%;
}
.home3, .home3:before, .home3:after {
  background: var(--green);
}

.start0 {
  composes: home;
  bottom: 77%;
  left: 81.5%;
  transform: rotate(-45deg)
}
.start0, .start0:before, .start0:after {
  background: var(--red);
}
.start1 {
  composes: home;
  top: 77%;
  left: 81.5%;
  transform: rotate(45deg)
}
.start1, .start1:before, .start1:after {
  background: var(--blue);
}
.start2 {
  composes: home;
  top: 77%;
  right: 81.5%;
  transform: rotate(-45deg)
}
.start2, .start2:before, .start2:after {
  background: var(--yellow);
}
.start3 {
  composes: home;
  bottom: 77%;
  right: 81.5%;
  transform: rotate(45deg)
}
.start3, .start3:before, .start3:after {
  background: var(--green);
}

.diceView {
  height: calc(var(--board-unit) * 10);
  width: calc(var(--board-unit) * 10);
  font-size: calc(var(--board-unit) * 10);
  position: absolute;
  z-index: 1;
  border-radius: calc(var(--board-unit) * 0.5);
}
.diceView:before{
  content: "";
  position: absolute;
  top: 9%;
  left: 9%;
  right: 9%;
  bottom: 9%;
  background: white;
  z-index: -1;
}
.diceView:after{
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background: radial-gradient(circle farthest-corner at center, transparent, rgba(0, 0, 0, 0.25));
}
.diceView.seat-0 { bottom: 65%; left: 65%; color: #d50000;}
.diceView.seat-1 { top: 65%; left: 65%; color: #2962ff;}
.diceView.seat-2 { top: 65%; right: 65%; color: #ffab00;}
.diceView.seat-3 { bottom: 65%; right: 65%; color: #00c853;}

.piece {
  border-radius: 100%;
  height: 6%;
  width: 6%;
  cursor: not-allowed;
  position: absolute;
  z-index: 10;
  margin-top: -.5%;
  margin-left: -.5%;
}
.piece.enabled {
  cursor: pointer;
}
.piece.enabled:hover {
	box-shadow: 0 0 20px 5px #ff6d00;
}
