.icon {
  --icon-size: 10;
  height: calc(var(--board-unit) * var(--icon-size));
  width: calc(var(--board-unit) * var(--icon-size));
  font-size: calc(var(--board-unit) * var(--icon-size));
  position: relative;
  z-index: 1;
  border-radius: calc(var(--board-unit) * var(--icon-size) * 0.1);
}
.icon:before{
  content: "";
  position: absolute;
  top: 9%;
  left: 9%;
  right: 9%;
  bottom: 9%;
  background: white;
  z-index: -1;
}
.icon:after{
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background: radial-gradient(circle farthest-corner at center, transparent 50%, rgba(0, 0, 0, 0.25));
}
.icon.seat-0 { color: #c62828;}
.icon.seat-1 { color: #1565c0;}
.icon.seat-2 { color: #ffab00;}
.icon.seat-3 { color: #388e3c;}

.iconRandom {
  composes: icon;
}
.iconRandom:before {
  top: 13%;
  left: 13%;
  right: 13%;
  bottom: 13%;
  border-radius: 100%;
}
.iconRandom:after {
  top: 12%;
  left: 12%;
  right: 12%;
  bottom: 12%;
  border-radius: 100%;
}
