.title {
  color: #ffcc80;
  font-family: Rye, cursive;
  font-size: 36px;
  margin-left: 16px;
}
.exit {
  background: transparent;
  border: none;
  color: #ffcc80;
  font-size: calc(var(--header-height) * 0.5);
  margin-right: 16px;
}
.exit * {
  vertical-align: middle;
}
