.container {
  --header-height: 60px;
  --secondary-min-height: 200px;
  --secondary-min-width: 300px;
  --board-spacing: 0px;
  display: flex;
  height: calc(var(--vh) * 100);
  width: calc(var(--vw) * 100);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  width: calc(var(--vw) * 100);
}

.primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: landscape) {
  .container {
    --secondary-width: max(var(--secondary-min-width), var(--vw) * 100 - var(--vh) * 100 + var(--header-height));
    --board-unit: calc((var(--vw) * 100 - var(--secondary-width) - var(--board-spacing)) / 100);
    flex-flow: row wrap;
  }
  .primary {
    height: calc(var(--vh) * 100 - var(--header-height));
    width: calc(var(--vw) * 100 - var(--secondary-width));
  }
  .board {
    height: calc(var(--board-unit) * 100);
    width: calc(var(--board-unit) * 100);
  }
  .secondary {
    height: calc(var(--vh) * 100 - var(--header-height));
    width: var(--secondary-width);
  }
}

@media (orientation: portrait) {
  .container {
    --secondary-height: max(var(--secondary-min-height), var(--vh) * 100 - var(--vw) * 100 - var(--header-height));
    --board-unit: calc((var(--vh) * 100 - var(--header-height) - var(--secondary-height) - var(--board-spacing)) / 100);
    flex-flow: column nowrap;
    align-items: center;
  }
  .header {
    /* same as board width */
    width: calc(var(--vh) * 100 - var(--header-height) - var(--secondary-height) - var(--board-spacing));
  }
  .primary {
    height: calc(var(--vh) * 100 - var(--header-height) - var(--secondary-height));
    width: calc(var(--vw) * 100);
  }
  .board {
    height: calc(var(--board-unit) * 100);
    width: calc(var(--board-unit) * 100);
  }
  .secondary {
    height: var(--secondary-height);
    width: calc(var(--vw) * 100);
  }
}
