.container {
  --header-height: 60px;
  --footer-height: 120px;
  --board-unit: min(calc((var(--vh) * 100 - var(--header-height) - var(--footer-height)) / 100), var(--vw));
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* justify-content: space-between; */
  height: calc(var(--vh) * 100);
  margin: 0 auto;
  width: calc(var(--board-unit) * 100);
}
@media (max-width: 420px) {
  .container {
    --footer-height: 150px;
  }
}

.container > header,
.container > main,
.container > footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container > header {
  height: var(--header-height);
  width: 100%;
  z-index: 1;
}
.container > footer {
  height: var(--footer-height);
  z-index: 1;
  flex-grow: 1;
}
.container > main {
  height: calc(var(--board-unit) * 100);
  width: calc(var(--board-unit) * 100);
}
