.base {
  background-size: cover;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: not-allowed;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.base:before {
  content: "";
  position: absolute;
  background-size: cover;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: not-allowed;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.base:after {
  content: "";
  background-image: radial-gradient(ellipse, black, transparent);
  position: absolute;
  border-radius: 100%;
  height: 20%;
  width: 80%;
  z-index: -1;
  bottom: -2%;
  left: 10%;
}
.piece.enabled {
  cursor: pointer;
}
.piece.enabled:hover {
	box-shadow: 0 0 20px 5px #ff6d00;
}

.Red1_0 {
  composes: base;
}
.Red1_0:before {
  background-image: url(./img/marbles/Red1.png);
}
.Red1_1 { composes: Red1_0 }
.Red1_2 { composes: Red1_0 }
.Red1_3 { composes: Red1_0 }

.Blue1_0 {
  composes: base;
}
.Blue1_0:before {
  background-image: url(./img/marbles/Blue1.png);
}
.Blue1_1 { composes: Blue1_0 }
.Blue1_2 { composes: Blue1_0 }
.Blue1_3 { composes: Blue1_0 }

.Green1_0 {
  composes: base;
}
.Green1_0:before {
  background-image: url(./img/marbles/Green1.png);
}
.Green1_1 { composes: Green1_0 }
.Green1_2 { composes: Green1_0 }
.Green1_3 { composes: Green1_0 }

.Yellow1_0 {
  composes: base;
}
.Yellow1_0:before {
  background-image: url(./img/marbles/Yellow1.png);
}
.Yellow1_1 { composes: Yellow1_0 }
.Yellow1_2 { composes: Yellow1_0 }
.Yellow1_3 { composes: Yellow1_0 }
