@keyframes dice-roll {
  0% {
    transform: scale(0.0) rotate(0deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.5) rotate(calc(var(--rotate, 540deg) / 2));
    animation-timing-function: linear;
  }
  100% {
    transform: scale(1.0) rotate(var(--rotate, 540deg));
    animation-timing-function: ease-out;
  }
}

.root {
  animation: dice-roll 800ms;
  transform: scale(1.0) rotate(var(--rotate, 540deg));
  border: solid 1px;
  background-image: radial-gradient(
    circle farthest-corner,
    transparent 25%,
    rgba(0, 0, 0, 0.35)
  );
}

.root > svg {
  height: 100%;
  width: 100%;
  fill: #f0f0f0;
}

.red {
  composes: root;
  background-color: #c62828;
  border-color: #c62828;
}

.blue {
  composes: root;
  background-color: #1565c0;
  border-color: #1565c0;
}

.yellow {
  composes: root;
  background-color: #ffab00;
  border-color: #ffab00;
}

.green {
  composes: root;
  background-color: #388e3c;
  border-color: #388e3c;
}
