html {
  height: 100%;
  width: 100%;
  position: fixed;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
}

#lobby-view {
  padding: 0 !important;
}
.hidden {
  display: none;
}

.panel {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 100px;
  background: #efebe9;
  border: solid 5px #a1887f;
  border-bottom: none;
  border-radius: 10px 10px 0 0 ;
}

.CurrentPlayerIndicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.25;
}
.CurrentPlayer0 .CurrentPlayerIndicator {
  bottom: 64%;
  left: 64%;
  border-bottom-left-radius: 50%;
  background: red;
}
.CurrentPlayer1 .CurrentPlayerIndicator {
  left: 64%;
  top: 64%;
  border-top-left-radius: 50%;
  background: blue;
}
.CurrentPlayer2 .CurrentPlayerIndicator {
  right: 64%;
  top: 64%;
  border-top-right-radius: 50%;
  background: yellow;
}
.CurrentPlayer3 .CurrentPlayerIndicator {
  right: 64%;
  bottom: 64%;
  border-bottom-right-radius: 50%;
  background: green;
}

header.title {
  color: #c0ca33;
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  text-align: center;
}

.BoardWrapper {
  position: relative;
  margin: 80px auto;
}

.dieRoll {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.Board {
  overflow: hidden;
  background: #efebe9;
  border-radius: 40px;
  min-width: 320px;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  border: solid 10px #a1887f;
}
.Cell {
  position: absolute;
  border-radius: 100%;
  border: solid 2px #a1887f;
  background: #bcaaa4;
  height: 20px;
  width: 20px;
}
.Cell.green { border-color: #00c853; }
.Cell.red { border-color: #d50000; }
.Cell.blue { border-color: #2962ff; }
.Cell.yellow { border-color: #ffab00; }
.Cell.over,
.Cell.highlight,
.Piece.over {
	box-shadow: 0 0 20px 5px #ff6d00;
}

.Label {
  position: absolute;
  text-align: center;
  line-height: 1;
  font-family: 'Permanent Marker', cursive;
  width: 40%;
  height: 10%;
  line-height: 2;
}
.Label0 {
  transform: rotate(45deg);
  top: 14%;
  right: 0%;
}
.Label1 {
  transform: rotate(-45deg);
  bottom: 14%;
  right: 0%;
}
.Label2 {
  transform: rotate(45deg);
  bottom: 14%;
  left: 0%;
}
.Label3 {
  transform: rotate(-45deg);
  top: 14%;
  left: 0%;
}

.Piece {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  cursor: not-allowed;
}
.Piece.enabled {
  cursor: pointer;
}
.Piece.green { background: #1b5e20; }
.Piece.yellow { background: #ffab00; }
.Piece.blue { background: #0d47a1; }
.Piece.red { background: #b71c1c; }

.Piece.enabled:hover {
	box-shadow: 0 0 20px 5px #ff6d00;
}

.controls {
  padding: 20px;
}
.controls .dice-buttons {
  display: flex;
	justify-content: space-between;
}
.controls .dice-buttons .DiceButton {
  /* flex-grow: 1; */
  /* height: 40px; */
  /* font-size: 40px; */
  /* line-height: 40px; */
  background: none;
  color: inherit;
	font-size: 2rem;
	line-height: 2rem;
	padding: .5rem;
}
.controls .dice-buttons .DiceButton svg {
	vertical-align: middle;
}

button {
	border: 0;
}

.game-view {
  /* height: 100vmin; */
  /* width: 100vmin; */
}

.board4 {
  /* position: relative; */
  /* height: 100%; */
  /* width: 100%; */
  /* padding: 0; */
  /* margin: 0; */

  background: #efebe9;
  border-radius: 40px;
  /* min-width: 320px; */
  /* width: 100%; */
  border: solid 10px #a1887f;
}
.board4 .cell {
  height: 5%;
  width: 5%;
  position: absolute;
}
.board4 .highlight {
	box-shadow: 0 0 20px 5px #ff6d00;
}
.board4 .Piece {
  height: 100%;
  width: 100%;
}
.board4 .cell .spot {
  border-radius: 100%;
  border: solid 2px #a1887f;
  background: #bcaaa4;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board4 .C00 {top: 2.5%; left: 55%; }
.board4 .C01 {top: 10.0%; left: 55%; }
.board4 .C02 {top: 17.5%; left: 55%; }
.board4 .C03 {top: 25.0%; left: 55.0%; }
.board4 .C04 {top: 32.5%; left: 55.0%; }
.board4 .C05 {top: 40.0%; left: 55.0%; }
.board4 .C06 {top: 40.0%; left: 62.5%; }
.board4 .C07 {top: 40.0%; left: 70.0%; }
.board4 .C08 {top: 40.0%; left: 77.5%; }
.board4 .C09 {top: 40.0%; left: 85.0%; }
.board4 .C0A {top: 40.0%; left: 92.5%; }
.board4 .C0B {top: 47.5%; left: 92.5%; }

.board4 .C10 {top: 55.0%; left: 92.5%; }
.board4 .C11 {top: 55.0%; left: 85.0%; }
.board4 .C12 {top: 55.0%; left: 77.5%; }
.board4 .C13 {top: 55.0%; left: 70.0%; }
.board4 .C14 {top: 55.0%; left: 62.5%; }
.board4 .C15 {top: 55.0%; left: 55.0%; }
.board4 .C16 {top: 62.5%; left: 55.0%; }
.board4 .C17 {top: 70.0%; left: 55.0%; }
.board4 .C18 {top: 77.5%; left: 55.0%; }
.board4 .C19 {top: 85.0%; left: 55.0%; }
.board4 .C1A {top: 92.5%; left: 55.0%; }
.board4 .C1B {top: 92.5%; left: 47.5%; }

.board4 .C20 {top: 92.5%; left: 40.0%; }
.board4 .C21 {top: 85.0%; left: 40.0%; }
.board4 .C22 {top: 77.5%; left: 40.0%; }
.board4 .C23 {top: 70.0%; left: 40.0%; }
.board4 .C24 {top: 62.5%; left: 40.0%; }
.board4 .C25 {top: 55.0%; left: 40.0%; }
.board4 .C26 {top: 55.0%; left: 32.5%; }
.board4 .C27 {top: 55.0%; left: 25.0%; }
.board4 .C28 {top: 55.0%; left: 17.5%; }
.board4 .C29 {top: 55.0%; left: 10.0%; }
.board4 .C2A {top: 55.0%; left: 2.5%; }
.board4 .C2B {top: 47.5%; left: 2.5%; }

.board4 .C30 {top: 40.0%; left: 2.5%; }
.board4 .C31 {top: 40.0%; left: 10.0%; }
.board4 .C32 {top: 40.0%; left: 17.5%; }
.board4 .C33 {top: 40.0%; left: 25.0%; }
.board4 .C34 {top: 40.0%; left: 32.5%; }
.board4 .C35 {top: 40.0%; left: 40.0%; }
.board4 .C36 {top: 32.5%; left: 40.0%; }
.board4 .C37 {top: 25.0%; left: 40.0%; }
.board4 .C38 {top: 17.5%; left: 40.0%; }
.board4 .C39 {top: 10.0%; left: 40.0%; }
.board4 .C3A {top: 2.5%; left: 40.0%; }
.board4 .C3B {top: 2.5%; left: 47.5%; }

.board4 .H00 {top: 10.0%; left: 47.5%; }
.board4 .H01 {top: 17.5%; left: 47.5%; }
.board4 .H02 {top: 25.0%; left: 47.5%; }
.board4 .H03 {top: 32.5%; left: 47.5%; }

.board4 .H10 {top: 47.5%; left: 85.0%; }
.board4 .H11 {top: 47.5%; left: 77.5%; }
.board4 .H12 {top: 47.5%; left: 70.0%; }
.board4 .H13 {top: 47.5%; left: 62.5%; }

.board4 .H20 {top: 85.0%; left: 47.5%; }
.board4 .H21 {top: 77.5%; left: 47.5%; }
.board4 .H22 {top: 70.0%; left: 47.5%; }
.board4 .H23 {top: 62.5%; left: 47.5%; }

.board4 .H30 {top: 47.5%; left: 10.0%; }
.board4 .H31 {top: 47.5%; left: 17.5%; }
.board4 .H32 {top: 47.5%; left: 25.0%; }
.board4 .H33 {top: 47.5%; left: 32.5%; }

.board4 .S00 {top:  5.0%; left: 75.0%; }
.board4 .S01 {top: 10.0%; left: 80.0%; }
.board4 .S02 {top: 15.0%; left: 85.0%; }
.board4 .S03 {top: 20.0%; left: 90.0%; }

.board4 .S10 {top: 75.0%; left: 90.0%; }
.board4 .S11 {top: 80.0%; left: 85.0%; }
.board4 .S12 {top: 85.0%; left: 80.0%; }
.board4 .S13 {top: 90.0%; left: 75.0%; }

.board4 .S20 {top: 90.0%; left: 20.0%; }
.board4 .S21 {top: 85.0%; left: 15.0%; }
.board4 .S22 {top: 80.0%; left: 10.0%; }
.board4 .S23 {top: 75.0%; left:  5.0%; }

.board4 .S30 {top: 20.0%; left:  5.0%; }
.board4 .S31 {top: 15.0%; left: 10.0%; }
.board4 .S32 {top: 10.0%; left: 15.0%; }
.board4 .S33 {top:  5.0%; left: 20.0%; }

.board4 .dice-view {
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  position: absolute;
}
.board4 .dice-view-0 { bottom: 65%; left: 65%; color: #d50000;}
.board4 .dice-view-1 { top: 65%; left: 65%; color: #2962ff;}
.board4 .dice-view-2 { top: 65%; right: 65%; color: #ffab00;}
.board4 .dice-view-3 { bottom: 65%; right: 65%; color: #00c853;}
